%script
    /* Set paths for all javascript assets with their cache busting parameters */
    require.config({ paths: #{@asset_hash.html_safe} });
    require(['app'], function (app) { app.init(); });
