.board
    :each index, row in hexes
        %div{ class: 'row' + (index % 2 ? ' row-offset' : '') }
            :each hex in row
                %div{ class: 'hex ' + (hex ? hex.terrain : '') }
                    :if hex.structure
                        %span{ class: (['structure', hex.structure.type, hex.structure.color].join(' ')) }
