Current Players:
:each player in players
    %div =player.name
        :if player.id === currentPlayer.id
            (you)

<br/>

:if currentPlayerIsRegistered
    :if currentPlayer.isActivePlayer
        %button.js-start-game
            Start Game with #{players.length} player(s)
    :else
        Joined. Please Wait.
:if !currentPlayerIsRegistered
    %button.js-join-game
        Join Game as #{currentPlayer.name}
