.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                %button.close{ type: 'button', data-dismiss: 'modal', aria-label: 'Close' }
                    %span
                        &times;
            .modal-body
                .js-content-region
            .modal-footer
                %button.btn.btn-default{ type: 'button', data-dismiss: 'modal' }
                    Cancel
