/* TODO move to sass */

.board {
    background: transparent image-url("board.png") no-repeat scroll 0 0;
    background-size: 100%;
    width: 1000px;
    height: 664px;
    padding: 1px;
    position: relative;

    .row:first-child {
        margin-top: 87px;
    }

    .row {
        margin-left: 17%;
        margin-bottom: 1.53%;
        height: 5.5%;
        .hex {
            width: 7.18%;
        }
    }

    .row-offset {
        margin-left: 19.8%;
        .hex {
            width: 7.47%;
        }
    }

    .hex {
        height: 100%;
        display: inline-block;
    }

    .hex.river {
        /*background-color: #74CCF7;*/
    }

    .hex.plains {
        background-color: $brown;
    }

    .hex.swamp {
        background-color: $black;
    }

    .hex.lakes {
        background-color: $blue;
    }

    .hex.forest {
        background-color: $green;
    }

    .hex.mountains {
        background-color: $grey;
    }

    .hex.wasteland {
        background-color: $red;
    }

    .hex.desert {
        background-color: $yellow;
    }

    .structure {
        background-color: transparent;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        background-size: 60%;
        display: block;
        width: 100%;
        height: 100%;
    }

    @each $structure in dwelling, trading-house, temple, stronghold, sanctuary, bridge {
        @each $color in $colors {
            .structure.#{$structure}.#{$color} {
                background-image: image-url("#{$structure}-#{$color}.png");
            }
        }
    }

    .rounds {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 5.4%;
        margin-top: 29.5%;

        &:before {
            content: "";
            background-image: image-url("game-end.png");
            background-size: 100%;
            height: 12.5%;
            width: 4.5%;
            display: block;
            position: absolute;
            left: 5%;
        }

        .round {
            background-size: 100%;
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-position: 0 0;
            height: 15%;
            width: 9.5%;
        }

        @each $round in fire-power, water-priests, air-spades, water-spades, air-workers, fire-workers, earth-coins, earth-spades {
            .round.#{$round} {
                background-image: image-url("round-#{$round}.png");
            }
        }
    }
}
